.pure-menu-children {
  background-color: yellow;
}
.pure-menu-link:hover, pure-menu-link:focus {
  background-color: yellow;
  color: black;
}
.pure-menu-selected {
  color: black;
}
figure {
  margin: 1em 0;
}
